@using ASP.Server.Controllers
@model EditBookModel
@{
    ViewData["Title"] = "Edit a book";
}
<style>
.input-group {
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
input, textarea, select {
    flex-basis:85%;
}
label {
    flex-basis:10%;
}
</style>

<form asp-controller="Book" asp-action="Edit"> 
    <div class="input-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div class="input-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" />
    </div>
    <div class="input-group">
        <label asp-for="Content"></label>
        <input asp-for="Content" />
    </div>
    <div class="input-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div class="input-group">
        <label asp-for="Created"></label>
        <input asp-for="Created" />
    </div>
   <!-- Code pour ajouter les genres -->
    <input type="submit" value="Edit" style="width: 100%; margin-top: 50px" />
</form>
                        